.row {
  display: flex;
}

.header {
  color: white;
  text-align: center;
}

.column {
  flex: 50%;
  box-align: center;
  background-color: black;
}

.block {
  background-color: rgb(54, 123, 250);
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100px;
}

.multi-block {
  display: flex;
  margin: auto;
  margin-top: -1px;
}

.locked {
  background-color: gray;
}

.half-js-enabled {
  background-color: gray;
  background-image: -webkit-linear-gradient(288deg, gray 50%, limegreen 50%);
}

.js-enabled {
  background-color: limegreen;
}

.arrow {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 1.5em;
  margin-top: -0.7em;
  margin-bottom: -0.8em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

hr {
  margin-bottom: 0.5em;
}

.multi-arrow-downline {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1em;
  margin: auto;
  margin-top: -0.8em;
  margin-bottom: -0.5em;
}

